/* global */
body{font-family: 'Arial (Hebrew)', Arial;
      padding-bottom: 38px;
       background: #fff;
       text-align: right;
       direction: rtl;
     }      
#form{ 
        width: 100%;
        height: 754;
    
    }

#container { width: 100%; 
             margin: 0 auto;
             padding-bottom: 30px;
             height: 754px; }


#header {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        width: 100%;
        height: 105px;
        background-color: slategray;
        }  

#main {
        width: 70%;
        height: 589px;
        background-color: snow;

}


#Footer {
        width: 100%;
        height: 38px;
        background-color: rgb(152, 174, 196);
        position:fixed;
        bottom:0px;
}


h1 { font-size: 15px; font-weight: bold; border-bottom: 1px solid #cbcbcb; margin-bottom: 12px; padding-bottom: 4px; }
h2 { font-size: 12px; font-weight: bold; color: #005ca0; }


/* Header */
#header { width: 100%; height: 105px; position: relative; z-index:100; }


#header a.logo { display: block; width: 142px; height: 93px; position: absolute; bottom: -20px; right: -8px; background: url(images/paz_logo.png) }
#header #searchBox { position: absolute; top: 20px; left: 10px; width: 152px; }
#header #searchBox .input { float: right; width: 132px; height: 19px; background: url(images/search_input.png)  }
#header #searchBox .input input[type="text"] { position: relative; top: 2px; right: 4px; width: 126px;  border: 0 none; }
#header #searchBox a { display: inline-block; float: left; width: 19px; height: 19px; background: url(images/search_button.png) no-repeat 0 0; }
#header #searchBox a:hover { text-decoration: none; }

/* Main menu */
#header #mainMenu { height: 33px; position: relative; top: 72px; margin: 0 143px 0 0;}
#header #mainMenu li { height: 100%; display: inline-block; }
#header #mainMenu li.sep { width: 4px; height: 21px; background: url(images/menu_sep.png) no-repeat 0 0px; margin: 0 16px; }
#header #mainMenu li a.home { width: 17px; background: url(images/menu_home.png) no-repeat 0 top;  }
#header #mainMenu li a.home:hover, #header #mainMenu li a.home.selectednode { background-position: -17px top;  }
#header #mainMenu li a { display: inline-block; color: #fff; font-size: 15px; font-weight: bold; height: 100%; text-decoration-line: none; }
#header #mainMenu li a:hover, #header #mainMenu li a.selectednode { color: #005ca0; }
#header #mainMenu li ul { position:absolute; z-index: 200; top: 33px; right: 0; display: none; background: #909090 url(images/menu_dropdown_bg.png) repeat-x 0 0; }
#header #mainMenu li:hover ul { display: block; }
#header #mainMenu li ul li { float: none; padding: 0 5px; }
*+html #header #mainMenu li ul li { width: 220px; overflow: hidden; }
#header #mainMenu li ul li:hover { background-color: #bcbcbc; display: block; }
#header #mainMenu li ul li a { display: block; width: 100%; height: 100%; padding: 5px 0; white-space: nowrap; }
#header #mainMenu li ul li a:hover { color: #005ca0; width: 100%; background: url(images/pixel.jpg); }
#header #mainMenu li ul li a span { display: block; width: 100%;   }
#header #mainMenu li ul li.sep { width: 100%; *display: inline; zoom: 1; padding: 0; margin: 0; height: 1px; background: url(images/menu_dropdown_sep.png) repeat-x 0 0; }
*+html #header #mainMenu li ul li.sep { width: 220px; height: 1px; padding: 0; margin: 0; line-height: 1;}